* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background-color: #d5d6d8;
  margin: 32px 100px;
}
/* navbar section start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-head h2 {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
}
.nav-btn {
  padding: 15px 30px;
  border: 1px solid #006a50;
  background: transparent;
  color: #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}
/* navbar section start */
/* banner area start */
.banner {
  margin-top: 50px;
  width: 100%;
  height: 560px;
  border-radius: 24px 24px;
  background-color: #c6e4d6e6;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.banner-text {
  padding: 117px 60px;
}
.banner-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #0e0e0e80;
}
.banner-description {
  font-size: 26px;
  font-weight: bold;
  color: #0e0e0e;
}
.banner-btn {
  margin-top: 24px;
}
.primary-btn {
  padding: 17px 34px;
  background-color: #006a50;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
/* /* banner area end */
/* Pillars of "Bangladesh 2.0 start */
.pillars-title h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 80px;
}
.cards {
  margin-top: 32px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  padding: 30px 30px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 2px solid #0e0e0e26;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0ecc;
  margin-top: 24px;
}
.card-description p {
  margin-top: 12px;
  color: #0e0e0eb3;
}
/* Pillars of "Bangladesh 2.0 end */
.vision-future {
  margin-top: 80px;
}

.vision-title {
  font-size: 32px;
  font-weight: bold;
}
.vision-dicription {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0eb3;
}
.vision-cards {
  margin-top: 32px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.Digital-card {
  padding: 32px 32px;
  background-color: #5490f533;
  border-radius: 16px;
}
.digital-btn {
  margin-top: 24px;
  padding: 11px 20px;
  background-color: #5490f5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

.Digital-card-2 {
  padding: 32px 32px;
  background-color: #c6e4d6;
  border-radius: 16px;
}
.digital-btn-2 {
  margin-top: 24px;
  padding: 11px 20px;
  background-color: #006a50;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
.Digital-card-3 {
  padding: 32px 32px;
  background-color: #f7ebcf;
  border-radius: 16px;
}
.digital-btn-3 {
  margin-top: 24px;
  padding: 11px 20px;
  background-color: #ffc239;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
/* about the dr.yunus  */
.bg {
  background-image: url(image/paragraph-bg.png);
  background-repeat: no-repeat;
}
.about-yunus {
  margin-top: 32px;
  width: 1100;
  height: 180px;
  padding: 48px 24px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid #0e0e0e26;
}
.about-yunus p {
  line-height: 24px;
  font-size: 16px;
  color: #0e0e0ecc;
}
.about-yunus h2 {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 600;
}
/* about the dr. yunus end */
/*  */
.recent-news {
  margin-top: 80px;
}
.recent-news p {
  color: #0e0e0eb3;
  line-height: 24px;
  margin-top: 24px;
}

.New-Satellite {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  background-color: #ffffff;
  padding: 48px;
  border-radius: 24px;
}
.aljazeera-nwes {
  color: #0e0e0ecc;
  font-size: 20px;
  font-weight: bold;
}
.date {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  color: #0e0e0eb3;
}
.para p {
  margin-top: 12px;
  line-height: 24px;
  color: #0e0e0eb3;
}
.satalite {
  margin-top: 24px;
  padding: 11px 20px;
  background-color: #006a50;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
